/* *{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */

h6{

font-size: smaller;
font-style: italic;


}

/* footer style */
footer{

margin-top:  20px;
background-color:lavender;
padding: 40px;
border: 5px cornflowerblue;
}


.footerlist{


list-style: none;
font-style: normal;


}
#follow{

margin-top: 50px;

}

.title{
    font-size: 60px;
font-weight: bolder;
font-stretch: extra-expanded;
color:papayawhip;
background-color:midnightblue;
font-family: fantasy;
font-style: oblique;
text-decoration:indianred ;

}


/* Button style*/

#createbtn{

padding: 50px;


}
#createbtn a{
color: lavender;
text-decoration: none;
}
.about2{

padding: 5px ;
margin: 5px;
}

.amongus{
margin-top: 30px;
/* text-align: center; */
background-color: lavender;
border-radius: 5px;
 padding: 5px;
/*margin: 5px; */
}



.texty{

    /* padding: 20px;  */
    margin: 0 30px;

}

.team{

margin-top: 30px;

}
hr.line{
    
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
.center{

    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      border-radius: 20px;

}
.textcenter{
    text-align: center;
    margin: 10px;
}
/* sign in form*/
.form{

padding: 50px;
margin: 30px;
}
.faq{
    margin-top:  20px;
    background-color:lavender;
    padding: 40px;
    border: 5px cornflowerblue;

}
